.Rproj.user
.Rhistory
.RData
.Ruserdata
Tablas1.docx
Tablas1.html
Tablas1.nb.html
Tablas1.pdf
covid_multi.Rproj
PIMS datos faltantes Proyecto Covid - Hoja 1.csv
ProyectoCOVIDPediatr-PIMS29062020_DATA_2020-06-29_2306.csv
ProyectoCOVIDPediatr_DATA_2020-06-27_2333 Solo PIMS.csv
ProyectoCOVIDPediatr_DATA_2020-06-27_2333.csv
ProyectoCOVIDPediatr_R_2020-06-27_2333.r
Datos google.R